@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.34),
    1.2px 1px 1.8px -1.2px hsl(var(--shadow-color) / 0.34),
    2.8px 2.4px 4.1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.36),
    2.3px 1.9px 3.4px -0.8px hsl(var(--shadow-color) / 0.36),
    5.8px 4.9px 8.5px -1.7px hsl(var(--shadow-color) / 0.36),
    14px 11.9px 20.7px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.34),
    4.1px 3.5px 6.1px -0.4px hsl(var(--shadow-color) / 0.34),
    7.6px 6.5px 11.3px -0.7px hsl(var(--shadow-color) / 0.34),
    12.5px 10.6px 18.4px -1.1px hsl(var(--shadow-color) / 0.34),
    20px 16.9px 29.5px -1.4px hsl(var(--shadow-color) / 0.34),
    31.3px 26.5px 46.1px -1.8px hsl(var(--shadow-color) / 0.34),
    47.6px 40.2px 70.1px -2.1px hsl(var(--shadow-color) / 0.34),
    70.2px 59.3px 103.4px -2.5px hsl(var(--shadow-color) / 0.34);
}

.cart_empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.cart__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cart__container h2 {
  margin: 20px;
}

.cart__section {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.cart_item {
  padding: 20px;
  margin-left: 20px;
  box-shadow: var(--shadow-elevation-low);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

img {
  height: 200px;
  width: 200px;
}

.button__container {
  display: flex;
  flex-direction: column;
}

.remove-btn {
  width: 100%;
  box-shadow: var(--shadow-elevation-low);
}

.quantity_button_container > button {
  margin: 15px;
  box-shadow: var(--shadow-elevation-low);
}

.check__out {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
  box-shadow: var(--shadow-elevation-medium);
}

.payment_container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.purchase_button {
  border-radius: 0;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 0;
  padding: 8px;
  width: 100%;
  box-shadow: var(--shadow-elevation-medium);
}

form {
  margin: 20px;
}

.form-group {
  padding: 0;
}

.cart__list {
  font-size: 1.1rem;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
}

.price {
  font-size: 1.1rem;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
}
