:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.34),
    1.2px 1px 1.8px -1.2px hsl(var(--shadow-color) / 0.34),
    2.8px 2.4px 4.1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.36),
    2.3px 1.9px 3.4px -0.8px hsl(var(--shadow-color) / 0.36),
    5.8px 4.9px 8.5px -1.7px hsl(var(--shadow-color) / 0.36),
    14px 11.9px 20.7px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.7px 0.6px 1px hsl(var(--shadow-color) / 0.34),
    4.1px 3.5px 6.1px -0.4px hsl(var(--shadow-color) / 0.34),
    7.6px 6.5px 11.3px -0.7px hsl(var(--shadow-color) / 0.34),
    12.5px 10.6px 18.4px -1.1px hsl(var(--shadow-color) / 0.34),
    20px 16.9px 29.5px -1.4px hsl(var(--shadow-color) / 0.34),
    31.3px 26.5px 46.1px -1.8px hsl(var(--shadow-color) / 0.34),
    47.6px 40.2px 70.1px -2.1px hsl(var(--shadow-color) / 0.34),
    70.2px 59.3px 103.4px -2.5px hsl(var(--shadow-color) / 0.34);
}

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/src/assets/img/restaurant.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form {
  width: 450px;
  height: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: black;
  color: white;
}

.btn-login {
  border-radius: 0;
  padding: 8px;
  font-size: 1.5rem;
  margin-top: 20px;
  width: 100%;
  box-shadow: var(--shadow-elevation-medium);
}

label {
  margin-top: 10px;
}

.forgot_password {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
.forgot_password a {
  text-decoration: none;
  font-weight: 500;
}

.check-page {
  display: flex;
  list-style: none;
  font-weight: 600;
  font-size: 1.3rem;
  gap: 20px;
  justify-content: center;
}

.check-page li > a {
  text-decoration: none;
  color: white;
}
