body {
  margin: 0;
}

.Landing-page {
  color: white;
  background-image: url(./assets/img/restaurant.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loginLink {
  width: 100vw;
  height: 20vh;
  display: flex;
  padding: 20px;
  justify-content: end;
}

.info_container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
